.filter {
  height: 252px;
  width: 232px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  &-title {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
  }

  &-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4a4a4a;
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__item {
      display: flex;
      align-items: center;
      padding: 9px;
    }

    &__label {
      margin-left: 10px;
      cursor: pointer;
    }

    :hover {
      background: #f1fcff;
    }
  }
}
